.div{
 margin-bottom: 10px;
 background-color: bisque;
 font-weight: bold;
 font-family: 'Times New Roman', Times, serif;
}

#entry{
 width: 100%;
}

#submit{
 width: 200px;
 color: black;
 background-color: gray;
 font-weight: bold;
 outline: 1px black;
}