#wrap1 {
 background-color: bisque;
}

#wrap2 {
 width: 960px;
 min-width: min-content;
}

#entry {
 margin-bottom: 3px;
 font-weight: 400;
 font-family: 'Times New Roman', Times, serif;
}

h1 {
 font-weight: bold;
 font-size: larger;
}